body {
    margin: 0px;
    font-family: Inter,"sans-serif";
}
.container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: auto;
    position: relative;
}
.footer-gradient-1{
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: white;
    top: 1280px;
    left: 0px;
    filter: contrast(100%) brightness(100%) blur( 100px );
    z-index: -1;
}
.gradient-background-1 {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1400px;
    filter: contrast( 90%) brightness(105%) blur( 20px );
    z-index: -1;
}
.body-0 {
    height: 0px;
    margin-bottom: 30px;
}
.body-1 {
    display: block;
    height: 600px;
    margin-bottom: 60px;
    width: 100%;
    overflow: hidden;
}
.body-1-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.div-1-child img {
    /* width: 430px;
    height: 250px; */
    width: 100%;
    height: 55%;
}
.div-1-child-1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-left: -30px;
    width: 25%;
    height: 70%;
    animation: div-move 1.2s linear 8s;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}
.div-1-child-1 h1 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -1.8px;
    line-height: 52px;
    margin: 0px 0px;
}
.div-1-child-1 p {
    font-size: 20px;
    margin: 20px 0px 40px 0px;
}
.div-1-child-1 button {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 45px;
    font-size: 18px;
    border-radius: 8px;
    color: white;
    background-color: #171321;
    transition: 0.2s linear;
}
.div-1-child-1 button:hover {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 45px;
    font-size: 18px;
    border-radius: 8px;
    color: #171321;
    border: 1px solid #171321;
    background-color: white;
}
.div-1-child-2 {
    display: flex;
    flex-flow: column wrap;
    width: 25%;
    padding: 25px 25px;
    background:linear-gradient(176deg,hsla(0,0%,100%,.75),hsla(0,0%,100%,.4));
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.2s linear;
    animation: div-move 1.2s linear 8s;
}
.div-1-child-2-head {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 90%;
}
.div-1-child-2-head button {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 35px;
    font-size: 16px;
    border-radius: 30px;
    color: white;
    border: none;
    background-color: #7759c2;
    margin: 30px 0px 10px 0px;
}
.div-1-child-2-head h2 {
    font-size: 23px;
    max-width: 450px;
    margin: 0px;
}
.div-1-child-2-footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}
.right-arrow-1-right {
    width: 25px;
    height: 25px;
    transition: 0.2s linear;
    transform: translateX(4px);
}
.body-1-right {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
}
.body-1-right a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.div-1-child-2:hover a {
    text-decoration: underline;
}
.div-1-child-2:hover .right-arrow-1-right {
    text-decoration: underline;
    transform: translateX(12px);
}
.div-1-child-2:hover {
    transform: translateY(-10px);
}
.div-1-child-3 {
    display: flex;
    flex-flow: column wrap;
    width: 25%;
    padding: 25px 25px;
    background:linear-gradient(176deg,hsla(0,0%,100%,.75),hsla(0,0%,100%,.4));
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.2s linear;
    animation: div-move 1.2s linear 8s;
}
.div-1-child-3-head {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 90%;
}
.div-1-child-3-head h2 {
    font-size: 23px;
    max-width: 450px;
    margin-top: 50px;
}
.div-1-child-3-footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}
.right-arrow-1-right {
    width: 25px;
    height: 25px;
    transition: 0.2s linear;
    transform: translateX(4px);
}
.body-3-right {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
}
.body-3-right a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.div-1-child-3:hover a {
    text-decoration: underline;
}
.div-1-child-3:hover .right-arrow-1-right {
    text-decoration: underline;
    transform: translateX(12px);
}
.div-1-child-3:hover {
    transform: translateY(-10px);
}
.body-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    margin-bottom: 60px;
}
.body-2-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 100%;
}
.body-2-div > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    height: 100%;
} 

.Trusted-By-2 {
    font-size: 17.5px;
    color: #171321;
    padding-right: 20px;
}
.Trusted-By-1 {
    display: none;
}
#body-2-logo-1{
    width: 90px;
    height: 20px;
    padding-right: 40px;
}
#body-2-logo-2{
    width: 90px;
    height: 45px;
    padding-right: 80px;
}
#body-2-logo-3{
    width: 100px;
    height: 22px;
    padding-right: 100px;
    filter: grayscale(100%);
}
#body-2-logo-4{
    width: 190px;
    height: 28px;
    padding-right: 30px;
    filter: grayscale(100%);
}
#body-2-logo-5{
    width: 110px;
    height: 20px;
    padding-left: 25px;
}
#body-2-logo-6{
    width: 110px;
    height: 60px;
    padding-left: 25px;
}
#body-2-logo-7{
    width: 110px;
    height: 60px;
    padding-left: 25px;
}

.body-3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 460px;
    margin-bottom: 60px;
}
.body-3-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1170px;
    height: 100%;
}
.body-3-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    height: 80%;
    width: 530px;
}
.body-3-text  h3 {
    font-size: 40px;
    margin: 0px;
    max-width: 550px;
}
.body-3-text  p {
    font-size: 20px;
    /* margin: 0px; */
    max-width: 550px;
}
.body-3-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: auto;
    width: 420px;
}
.body-3-form button {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 40px;
    background-color: #171321;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.2s linear;
}
.body-3-form button:hover {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 40px;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
}
.body-3-form a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-left: 30px;
    margin-right: 5px;
}
.body-3-link:hover a {
    text-decoration:underline;
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-left: 30px;
    margin-right: 5px;
}
#body-3-logo {
    width: 20px;
    height: 20px;
    transform: translateY(5px);
    transition: 0.2s linear;
}
.body-3-link:hover  #body-3-logo {
    transform: translateY(5px) translateX(10px);
}
.body-3-img {
    height: 100%;
    width: 50%;
}
.body-3-img img {
    margin-top: 45px;
    margin-left: 80px;
    width: 520px;
    height: 440px;
}

.body-4 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 260px;
    margin-bottom: 60px;
}
.body-4-div {
    display: flex;
    flex-flow: row wrap;
    width: 1170px;
    height: 100%;
}
.body-4-child {
    display: flex;
    flex-flow: column wrap;
    height: 65%;
    width: 25%;
    padding-top: 50px;
}
.body-4-text {
    display: flex;
    flex-flow: column wrap;
}
.body-4-text-div {
    display: flex;
    flex-flow: row wrap;
    max-width: 260px;
}
.body-4-text > h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.body-4-text-div > p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
    font-size: 16px;
}
.body-4-text-div p > a {
    text-decoration: none;
    color: #9b7fd4;
}
.body-4-text-div a:hover {
    text-decoration: underline;
}
.body-4-child-2 {
    height: 86%;
}
.body-4-text-2 > h3 {
    max-width: 200px;
}
.body-4-logo-1 {
    width: 30px;
    height: 30px;
    /* transform: translateY( 10px ); */
}
.body-4-logo-2 {
    width: 30px;
    height: 30px;
}
.body-4-logo-3 {
    width: 30px;
    height: 30px;
}
.body-4-logo-4 {
    width: 30px;
    height: 30px;
}
.body-5 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    height: 470px;
    position: relative;
}
.body-5-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    height: 100%;
}
.body-5-right {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 80%;
    width: 51%;
    background-color: #f6f3fe;
    border-radius: 8px 0px 0px 8px;
    box-sizing: border-box;
}
.body-5-left {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 80%;
    width: 47.5%;
}
.body-5-right-1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 75%;
    width: 100%;
    padding-left: 30px;
}
.body-5-right-1 svg {
    width: 31px;
    height: 31px;
    margin-top: 10px;
}
.body-5-right-1 > h3 {
    font-size: 24px;
    font-weight: 600;
    max-width: 520px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.body-5-right-1 h3 > a {
    text-decoration: none;
    color: #7759c2;
}
.body-5-right-1 h3 > a:hover {
    text-decoration: underline;

}
.body-5-div-child {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 428px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
}
.body-5-div-child > svg {
    height: 25px;
    width: 25px;
    margin-top: 0px;
    margin-left: 10px;
}
.body-5-div-child > p {
    margin: 0px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 15px;
}
.body-5-div-child > h3 {
    margin: 0px;
    margin-left: 10px;
    font-size: 25px;
}
.body-5-right-2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 25%;
    width: 100%;
    padding-left: 30px;
}
.body-5-right-2 a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.body-5-right-2:hover a {
    text-decoration: underline;
}
.right-arrow-5-right {
    width: 20px;
    height: 20px;
    transition: 0.2s linear;
}
.body-5-right-2:hover .right-arrow-5-right {
    text-decoration: underline;
    transform: translate(7px);
}
.body-5-child {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 98%;
    height: 48%;
    background-color: #f6f3fe;
    border-radius: 0px 8px 0px 0px;
    padding-left: 30px;
}
.body-5-child-2 {
    border-radius: 0px 0px 100px 0px;
}
.body-5-child svg:nth-child(1) {
    width: 31px;
    height: 31px;
}
.body-5-child h3 {
    font-size: 120%;
    font-weight: bold;
    margin-top: 15px;
}
.body-5-child-link {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
}
.body-5-child-link a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.body-5-child-link:hover a {
    text-decoration: underline;
}
.body-5-child-link:hover .right-arrow-5-right {
    text-decoration: underline;
    transform: translate(7px);
}
.body-5-footer {
    position: absolute;
    bottom: 0.5%;
    width: 100%;
    height: 28%;
    background-color:#171321 ;
    z-index: -1;
}
.body-6 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    height: 995px;
    background-color:#171321 ;
    margin-bottom: 30px;
    /* position: relative; */
}
.body-6-div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 1160px;
    height: 100%;
}
.DevSecOps {
    font-size: 30px;
    background: linear-gradient( to right, #df9e76, #c894a5, #9573e7);
    background-clip: text;
    color: transparent;
    width: 170px;
    height: 35px;
    margin: 0px 0px 20px 0px;
}
.body-6-h2 {
    font-size: 50px;
    color: white;
    width: 800px;
    margin: 0px 0px 30px 0px;
}
.body-6-div-child {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 49%;
    margin: 30px 0px 35px 0px;
}
.body-6-div-child .child-1 {
    font-size: 24px;
    font-weight: 600;
    width: 205px;
    text-align: center;
    height: 45px;
    border-style: none;
    border-radius: 30px;
    color: white;
    background-color: #7759c2;
}
.body-6-div-child .child-2 {
    font-size: 24px;
    font-weight: 600;
    width: 150px;
    text-align: center;
    height: 45px;
    border-style: none;
    border-radius: 30px;
    color: white;
    background-color: #45424d;
    transition: 0.2s linear;
}
.body-6-div-child .child-2:hover {
    font-size: 24px;
    font-weight: 600;
    width: 150px;
    text-align: center;
    height: 45px;
    border-style: none;
    border-radius: 30px;
    color: white;
    background-color: #7759c2;
}
.body-6-div-child .child-3 {
    font-size: 24px;
    font-weight: 600;
    width: 180px;
    text-align: center;
    height: 45px;
    border-style: none;
    border-radius: 30px;
    color: white;
    background-color: #45424d;
    transition: 0.2s linear;
}
.body-6-div-child .child-3:hover {
    font-size: 24px;
    font-weight: 600;
    width: 180px;
    text-align: center;
    height: 45px;
    border-style: none;
    border-radius: 30px;
    color: white;
    background-color: #7759c2;
}
.body-6-text {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 530px;
}
.body-6-left {
    display: flex;
    flex-flow: column wrap;
    width: 53%;
    height: 500px;
    margin: 10px 0px;
}
.body-6-left > p {
    max-width: 550px;
    font-size: 24px;
    /* font-weight: 600; */
    color: white;
}
.body-6-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    height: 260px;
    margin: 30px 0px;
}
.body-6-list > li {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.body-6-list li > svg:nth-child(1) {
    width: 30px;
    height: 30px;
    color: #a88bec;
}
.body-6-a {
    width: auto;
}
.body-6-a > a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 1px 0px 15px;
    color: white;
}
.body-6-a > svg {
    color: white;
    fill: currentColor;
    transition: 0.15s linear;
}
.body-6-a-1:hover .body-6-logo-1 {
    transform: translateX(10px);
}
.body-6-a-2:hover .body-6-logo-2 {
    transform: translateX(10px);
}
.body-6-a-3:hover .body-6-logo-3 {
    transform: translateX(10px);
}
.body-6-a-4:hover .body-6-logo-4 {
    transform: translateX(10px);
}
.body-6-right {
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    width: 47%;
    height: 540px;
    /* position: relative; */
}
.body-6-right img {
    width: 560px;
    height: 490px;
    /* position: absolute;
    top: 10%; */
}
.body-7 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 580px;
    margin-bottom: 160px;
}
.body-7-div {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 1170px;
    height: 100%;
}
.body-7-head {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1170px;
    height: 115px;
    position: relative;
}
.body-7-logo-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: end;
    width: 170px;
    height: 90px;
}
.body-7-logo-1 > img {
    width: 100%;
    height: 50%;
}
.body-7-logo-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: end;
    width: 170px;
    height: 90px;
    margin-left: 70px;
}
.body-7-logo-2 > img {
    width: 100%;
    height: 30%;
}
.body-7-logo-3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: end;
    width: 170px;
    height: 90px;
    margin-left: 20px;
    box-sizing: border-box;
}
.body-7-logo-3 > img {
    width: 25%;
    height: 45%;
}
.body-7-logo-4 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: end;
    width: 170px;
    height: 90px;
}
.body-7-logo-4 > img {
    width: 100%;
    height: 50%;
}
.body-7-logo-5 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: end;
    width: 170px;
    height: 90px;
}
.body-7-logo-5 > img {
    width: 100%;
    height: 50%;
}
.body-7-head::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: #f2f1f5;
    margin-top: 30px;
}
.body-7-logo-1::after {
    content: '';
    width: 190px;
    height: 5px;
    background-color: #7759c2 ;
    bottom: -10px;
    left: -10px;  
    margin-top: 30px;
    position: absolute;
    z-index: 3;
}
.body-7-footer {
    display: flex;
    flex-flow: column wrap;
    width: 1160px;
    height: 70%;
}
.body-7-left {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    height: 100%;
}
.body-7-left-1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    height: 70%;
}
.body-7-left-1 > h3 {
    font-size: 40px;
    margin: 10px 0px;
}
.body-7-left-1 h3 > a {
    font-size: 40px;
    text-decoration: none;
    color: #7759c2;
}
.body-7-left-1 h3:hover a {
    font-size: 40px;
    text-decoration: underline;
    color: #7759c2;
}
.body-7-div-child {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 81%;
    height: 20%;
    border-radius: 50px;
    background-color:  #f6f3fe;
}
.body-7-div-child > p {
    margin: 0px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 91%;
}
.body-7-div-child > h3 {
    margin: 0px;
    margin-left: 25px;
    font-size: 200%;
}
.body-7-left-2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 25%;
    width: 100%;
}
.body-7-left-2 a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.body-7-left-2:hover a {
    text-decoration: underline;
}
.right-arrow-7-right {
    width: 20px;
    height: 20px;
    transition: 0.2s linear;
}
.body-7-left-2:hover .right-arrow-7-right {
    text-decoration: underline;
    transform: translate(7px);
}
.body-7-right {
    display: flex;
    flex-flow: column wrap;
    width: 44%;
    height: 100%;
    margin-top: 10px;
    position: relative;
}
.body-7-text {
    display: flex;
    flex-flow: column wrap;
    /* justify-content: space-between; */
    width: 90%;
    height: 63%;
    padding: 40px 20px 20px 50px;
    border-radius: 10px 10px 30px 10px;
    background-color:#f6f3fe;
}
.body-7-text-1 > svg {
    width: 35px;
    height: 35px;
}
.body-7-text-1 > p {
    max-width: 430px;
    font-size: 20px;
    margin: 0px 0px;
    margin-bottom: 30px;
}
.body-7-text-2 > p {
    max-width: 400px;
    font-size: 15px;
    margin: 0px 0px;
}
.body-7-text-2  p:nth-child(1) {
    font-weight: 600;
}
.body-7-img > img {
    width: 160px;
    height: 160px;
    bottom: 50px;
    right: -60px;
    position: absolute;
}
.body-8 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 820px;
    margin-bottom: 40px;
    /* background-image: url(https://about.gitlab.com/nuxt-images/home/bottom-gradient.png);
    background-size: cover;
    background-size: 200% 100%; */
    
}
.body-8-div {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 100%;
}
.body-8-head {
    display: flex;
    flex-flow: row wrap;
    width: 1170px;
    height: 180px;
}
.body-8-head-left {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 50%;
    height: 100%;
}
.body-8-head-left h3 {
    font-size: 50px;
    margin: 10px 0px;
}
.body-8-head-right {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    height: 100%;
}
.body-8-right-child-1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: end;
    width: 50%;
    height: 90%;
}
.body-8-right-child-1 h3 {
    font-size: 65px;
    margin: 0px 0px;
}
.body-8-right-child-1 p {
    font-size: 20px;
    margin: 0px 50px 0px 0px;
}
.body-8-right-child-2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: end;
    width: 45%;
    height: 90%;
}
.body-8-right-child-2 h3 {
    font-size: 65px;
    margin: 0px 0px;
}
.body-8-right-child-2 p {
    font-size: 20px;
    margin: 0px 20px 0px 0px;
}
.body-8-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 580px;
    margin-top: 40px;
}

.body-8-footer-left {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 41%;
    height: 90%;
}
.body-8-footer-left-1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 44%;
    padding-left: 30px;
    background-color: white;
    border-radius: 10px 0px 0px 0px;
}
.body-8-footer-left-2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 53%;
    padding-left: 30px;
    background-color: white;
    border-radius: 0px 0px 0px 10px;
}
.body-8-footer-left-child p {
    font-size: 20px;
    margin: 20px 0px;
    max-width: 400px;
}
.body-8-left-2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    height: 40px;
}
.body-8-footer-left-1 .body-8-left-2 {
    transform: translateY(-10px);
}
.body-8-left-2 a {
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: black;
}
.body-8-left-2:hover a {
    text-decoration: underline;
}
.right-arrow-8-right {
    width: 20px;
    height: 20px;
    transition: 0.2s linear;
}
.body-8-left-2:hover .right-arrow-8-right {
    text-decoration: underline;
    transform: translate(7px);
}
.body-8-footer-right {
    display: flex;
    flex-flow: column wrap;
    width: 55%;
    height: 90%;
    padding-left: 30px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 0px;
}
.body-8-footer-right h3 {
    font-size: 30px;
    margin: 40px 0px;
}
.body-8-right-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55%;
}
.body-8-right-1 > img {
    width: 95px;
    height: 125px;
    margin: 0px 20px;
}
.body-8-right-2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 50px;
    padding-left: 30px;
    width: 100%;
}
.body-8-right-2 a {
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: black;
}
.body-8-right-2:hover a {
    text-decoration: underline;
}
.right-arrow-8-right {
    width: 20px;
    height: 20px;
    transition: 0.2s linear;
}
.body-8-right-2:hover .right-arrow-8-right {
    text-decoration: underline;
    transform: translate(7px);
}
.gradient-background-2 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 1300px;
    filter:  contrast( 110%) brightness(110%) blur(50px);
    z-index: -1;
}
.body-9 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 330px;
    position: relative;
}
.body-9-div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 1170px;
    height: 100%;
}
.body-9-head {
    display: flex;
    flex-flow: row wrap;
    width: 1170px;
    height: 100%;
    background-color: #171321;
    border-radius: 10px;
    border: 0.01px solid gray;
}
.body-9-end {
    width: 100%;
    height: 70%;
    position: absolute;
    z-index: -1;
    background-color: #171321;
    left: 0px;
    bottom: 0px;
}
.body-9-left {
    display: flex;
    flex-flow: column wrap;
    width: 49%;
    height: 100%;
    padding: 70px 0px 0px 60px ;
    box-sizing: border-box;
}
#READY_TO_GET_STARTED {
    font-size: 40px;
    background: linear-gradient( to right, #fcb387, #e4aaab, #8157e4);
    background-clip: text;
    color: transparent;
    width: 410px;
    margin: 0px 0px 0px 0px;
}
.body-9-left p {
    font-size: 23px;
    /* font-weight: 600; */
    margin: 15px 0px 20px 0px;
    color: white;
}
.body-9-left button {
    width: 170px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    font-size: 21px;
    transition: 0.2s linear;
}
.body-9-left button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
.body-9-right {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    width: 45%;
    height: 85%;
}
.body-9-child {
    width: 48%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.body-9-child-1 {
    margin-right: 20px;
}
.body-9-child > svg {
    width: 35px;
    height: 35px;
    color: white;
}
.body-9-child > p {
    font-size: 16px;
    /* font-weight: 600; */
    margin: 25px 0px;
    max-width: 240px;
    color: white;
}
.right-arrow-9-right {
    width: 20px;
    height: 20px;
    transition: 0.2s linear;
    color: white;
    fill: currentColor;
    transform: translateX(4px);
}
.body-9-child-link {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
}
.body-9-child-link a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.body-9-child-link:hover a {
    text-decoration: underline;
}
.body-9-child-link:hover .right-arrow-9-right {
    text-decoration: underline;
    transform: translateX(12px);
}
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    height: 990px;
    background-color:#171321 ;
    /* position: relative; */
}
.footer-div {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 1170px;
    height: 100%;
}
.footer-end-1 {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 70%;
}
.footer-end-left {
    display: flex;
    flex-flow: row wrap;
    width: 15%;
    height: 100%;
    padding: 60px 0px 0px 0px ;
    box-sizing: border-box;
}
.footer-end-left span {
    color: white;
    font-size: 25px;
    transform: translateY(-5px);
}
.footer-end-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 84%;
    height: 100%;
    padding: 50px 0px 0px 0px ;
    box-sizing: border-box;
}
.end-1-child-1 {
    width: 18%;
}
.end-1-child-2 {
    width: 18%;
}
.end-1-child-3  {
    width: 18%;
}
.end-1-child-4  {
    width: 18%;
}
.end-1-child-5  {
    width: 18%;
}
.footer-end-right div > h3 {
    font-size: 19px;
    letter-spacing: 0.5px;
    color: white;
    margin-bottom: 10px;
    padding-left: 30px;
}
.footer-end-right div > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 160px;
    padding-left: 30px;
}
.footer-end-right div ul li > a {
    text-decoration: none;
    color: white;
    display: flex;
    width: auto;
    font-size: 14px;
    padding: 8px 0px;
}
.footer-end-right div ul li > a:hover {
    text-decoration: underline;
}
.footer-end-2 {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 23%;
}
.footer-end-2-head {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 26%;
}
.end-2-div-1 {
    width: 17%;
    height: 50%;
    box-sizing: border-box;
}
.end-2-div-1 button {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40%;
    background-color: #171321;
    border: none;
}
.end-2-div-1 svg {
    width: 20px;
    height: 20px;
    color: white;
}
.end-2-div-1 svg:nth-child(3) {
    fill: currentColor;
}
.end-2-div-1 span {
    font-size: 16px;
    color: white;
}
.end-2-div-2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 12%;
    height: 60%;
    margin-bottom: 20px;
}
.end-2-div-2 > svg {
    width: 25px;
    height: 25px;
    color: white;
}
.footer-end-2-head::after {
    content: '';
    width: 1170px;
    height: 1px;
    background-color: white;
}
.footer-end-2-end > p {
    color: white;
}
.footer-end-2-end > p:nth-child(1) {
    margin-top: 28px;
}
.footer-end-2-end > a {
    color: white;
    margin-right: 30px;
}
@keyframes div-move {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
    }
}